mark {
  background-color: rgba(255, 255, 0, 0.5);
}

.card-header, .card-body {
  padding: .75rem;
}

.scoopCopyCommand {
  padding-right: 0 !important;
}

.faIconVerticalAlign {
  vertical-align: baseline;
  margin-bottom: -2px;
}

.copyToClipbardMiniButton {
  padding: 0.15rem 0.2rem;
  font-size: 0.7rem;
  line-height: 0.75rem;
  vertical-align: text-top;
}

.pagination > li {
  min-width: 2em;
  text-align: center;
}

a:not([class*="btn"]) {
  text-decoration: none;
}
a:not([class*="btn"]):hover {
  text-decoration: underline;
}

body {
  overflow-y: scroll;
}