mark {
  background-color: rgba(255, 255, 0, 0.5);
}



.copy-command-prefix, .copy-command-text {
  background-color: var(--bs-gray-100) !important;
  border: 0;
  font-family: var(--bs-font-monospace);
  line-height: 2.0;
  user-select: none;
  box-shadow: none !important;
}

.copy-command-prefix {
  padding-right: 0 !important;
}

.copy-command-text {
  cursor: pointer;
}

#app-command > * {
  font-weight: bold;
}

.copy-command-group > button {
  border: 0;
  margin-left: 0 !important;
  box-shadow: none !important;
  opacity: 1 !important;
}

.copy-command-group > button:not(:hover) {
  background-color: var(--bs-gray-200);
  transition: none;
}

.copy-command-text:hover + .copy-command-button:not(:disabled) {
  color: var(--bs-white);
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.copy-command-button:disabled {
  color: var(--bs-gray-200);
  background-color: rgba(var(--bs-success-rgb), 0.8) !important;
}



.sorting-filtering-button > button:not(:hover) {
  background-color: var(--bs-gray-200);
  border-color: var(--bs-gray-200);
  color: var(--bs-dark);
}

.sorting-filtering-menu .btn:focus, .sorting-filtering-menu .btn:active, .sorting-filtering-menu .form-check-input:focus, .sorting-filtering-menu .form-check-input:active {
  box-shadow: none;
}

.sorting-filtering-menu > .dropdown-item:active {
  background-color: var(--bs-gray-200);
  color: var(--bs-body-color);
}

.sorting-filtering-menu > .dropdown-item > .form-switch > * {
  cursor: pointer
}


div.valign-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

svg.react-icon {
  margin-top: -3px;
}

.pagination > li {
  min-width: 2em;
  text-align: center;
}

a:not([class*="btn"]) {
  text-decoration: none;
}
a:not([class*="btn"]):hover {
  text-decoration: underline;
}

body {
  overflow-y: scroll;
}

.tooltip-inner {
  max-width: none;
}

.footer {
  font-size: 0.75em;
}

svg.footer-icon {
  width: 1.2em;
  height: 1.2em;
}

.asciinema-player-no-controls > * > .asciinema-player > .control-bar {
  display: none;
}

.asciinema-player-border {
  border: 1px solid rgb(221, 221, 221);
  border-top: 0;
}

html.dark .asciinema-player-border {
  border: 0;
}

html.dark .copy-command-prefix, html.dark .copy-command-text {
  background-color: var(--bs-gray-800) !important;
}

html.dark .copy-command-group > button:not(:hover) {
  background-color: var(--bs-gray-800);
  color: var(--bs-gray-200);
}

html.dark .sorting-filtering-button > button:not(:hover) {
  background-color: var(--bs-gray-800);
  border-color: var(--bs-gray-800);
  color: var(--bs-gray-200);
}

html.dark .sorting-filtering-menu > .dropdown-item:active {
  background-color: var(--bs-gray-800);
}

html.dark .bg-light {
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;
}
